<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>test1</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 id="title">test1</h1>
<p>a test browserify project</p>
<div id="bar-chart"></div>
<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.min.js"></script>
</body>
</html>